<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultPathIni" value="SYNCHRONIZER\Synchronizer\config.ini"/>
		<add key="DefaultPathExe" value="\SYNCHRONIZER\Synchronizer\bin\Debug\net6.0-windows"/>
		<add key="DefaultPathBkp" value="SYNCHRONIZER\Synchronizer\backup_system"/>
		<add key="DirectoryDir"	value="SYNCHRONIZER\Synchronizer\Directories\Directories.txt"/>
		
	</appSettings>
</configuration>